

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.shared-description{
    font-size: 22px;
    font-weight:400;
    color: #7b7c80;
}

/* nav-section */
.nav-section{
    display: flex;
    border: 2px solid black;
    height: 85px;
    width: 1140px;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    align-items:center;
    justify-content: space-between;
   
}
.list-item{
    display: flex;
    gap: 20px;
}
.list-item li {
    list-style: none;
}

/* banner-section */
.banner-section{
    width: 1140px;
    height: 461px;
    border: 2px solid black;
    margin: 150px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-size:65px;
    font-weight: 700;

}
.title-color{
    color:#E95A08;
}

.banner-img{
    height: 355px;
    width: 570px;
}

/* our-plants-section */

.our-plants{
    height: 1186px;
    width: 1140px;
    border: 2px solid black;
    margin: 150px;
    text-align: center;
}
.plants-title{
    font-size: 50px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
}
.oreng-our{
    color:#E95A08;
}
.card-1{
    height:484px;
    width: 270px;
    border: 2px solid black;
    text-align: center;
}
.card-1 h6{
    margin-top: 8px;
    margin-bottom: 2px;
    font-size: 22px;
    font-weight:500;
}
.card-1 h5{
    margin-top: 0;
    font-size: 22px;
    font-weight: 700;
}
.card-1 button{
    height: 55px;
    width: 270px;
    font-size: 16px;
    font-weight: 400;
    color:#FFFFFF;
    background-color:#E95A08;
    border: none;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 15px;
    row-gap: 40px;
}
/* responsive */
@media screen and (max-width:576px) {
    .nav-section{
         width: 100%;
        height: auto;
        margin: 20px auto;
    }
    .nav-link{
        display: none;
    }
    .banner-section{
         flex-direction: column-reverse;
        width: 100%;
        height: auto;
        margin: 20px auto;
        align-items: center;
        text-align: center;
    }
    .banner-title {
        font-size: 32px;
        text-align: center;
    }

    .banner-img {
        width: 90%;
        height: auto;
    }
    .our-plants{
        width: 100%;
        height: auto;
        margin: 20px auto;
    }
    .card-container{
        grid-template-columns: repeat(2,1fr);
        box-sizing: border-box;
        column-gap: 5px;
    }
    /* exampla */
    .card-1{
    height:400px;
    width: 230px;
    border: 2px solid black;
    text-align: center;
}
.card-1 h6{
    margin-top: 6px;
    margin-bottom: 2px;
    font-size: 15px;
    font-weight:460;
}
.card-1 h5{
    margin-top: 0;
    font-size: 18px;
    font-weight: 600;
}
.card-1 button{
    height: 45px;
    width: 220px;
    font-size: 12px;
    font-weight: 350;
    color:#FFFFFF;
    background-color:#E95A08;
    border: none;
}
.card-1 img{
    width: 220px;
    height: 270px;
}
}