

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.{
    font-size: 22px;
    font-weight:400;
    color: #7b7c80;
}

/* nav-section */
.nav-section{
    display: flex;
    border: 2px solid black;
    height: 85px;
    width: 1140px;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    align-items:center;
    justify-content: space-between;
   
}
.list-item{
    display: flex;
    gap: 20px;
}
.list-item li {
    list-style: none;
}

/* banner-section */
.banner-section{
    width: 1140px;
    height: 461px;
    border: 2px solid black;
    margin: 150px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-size:65px;
    font-weight: 700;

}
.title-color{
    color:#E95A08;
}

.banner-img{
    height: 355px;
    width: 570px;
}


/* our-plants-section */

.our-plants{
    height: 1186px;
    width: 1140px;
    border: 2px solid black;
    margin: 150px;
    text-align: center;
}
.plants-title{
    font-size: 50px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
}
.oreng-our{
    color:#E95A08;
}
.card-1{
    height:484px;
    width: 270px;
    border: 2px solid black;
    text-align: center;
     
}
.card-1 h6{
    margin-top: 8px;
    margin-bottom: 2px;
    font-size: 22px;
    font-weight:500;
}
.card-1 h5{
    margin-top: 0;
    font-size: 22px;
    font-weight: 700;
}
.card-1 button{
    height: 55px;
    width: 270px;
    font-size: 16px;
    font-weight: 400;
    color:#FFFFFF;
    background-color:#E95A08;
    border: none;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 15px;
    row-gap: 40px;
}
/* Flower & Plants */
.flower-plants{
    height: 600px;
    width: 1140px;
    border: 2px solid black;
    margin: 150px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}
.flower-plants-img-container{
    height: 597px;
    width: 540px;
    position: relative;
  display: inline-block;
}
.flower-store-img{
    width: 100%;
  height: auto;
  display: block;
}
.trusted-badge-img{
    position: absolute;
  top: -100px;
  right: -60px;
  width: 200px;
  height: auto;
}
.flower-plants div{
    margin-left: 50px;
}
.flower-plants-title{
    font-size: 40px;
    font-weight: 600;
}
.flower-plants-discription li{
margin-bottom: 15px;
}
/* latest Deals-section */
.latest-section{
    height: 200px;
    width: 1440px;
    border: 2px solid black;
    text-align: center;
}
.latest-title{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
}
.latest-title span{
    color: #E95A08;
}
/* .plant-section */
.plant-section{
    height: 423px;
    width: 1140px;
    border: 2px solid black;
    margin: 150px;
    margin-top: 50px;
}
.plant-section{
    display: flex;
}
.mini-img img{
    margin-bottom: 20px;
    border-radius: 20px;
    filter: brightness(50%);
}
.big-img img{
    border-radius: 30px;
    filter: brightness(50%);
    
}
.img-wapper {
  position: relative;
  display: inline-block;
}

.img-wapper img {
  display: block;
  width: 100%;
  height: auto;
}

.img-text {
  position: absolute;
  bottom: 50px;
  left: 100px;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 18px;
  text-align: center;
}
.img-text p{
    text-decoration: underline;
    font-size: 16px;
    font-weight: 300;
}
/* big-img-section */

/* responsive */
@media screen and (max-width:576px) {
    .nav-section{
         width: 100%;
        height: auto;
        margin: 20px auto;
    }
    .nav-link{
        display: none;
    }
    .banner-section{
         flex-direction: column-reverse;
        width: 100%;
        height: auto;
        margin: 20px auto;
        align-items: center;
        text-align: center;
    }
    .banner-title {
        font-size: 32px;
        text-align: center;
        
    }

    .banner-img {
        width: 100%;
        height: auto;
    }
    .banner-img img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}
    .our-plants{
        width: 100%;
        height: auto;
        margin: 20px auto;
    }
    /* card-mobaile-responsive */
    .card-container{
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 20px;
}
   .card-1{
    height:320px;
    width: 140px;
     
}
.card-1 img{
    height: 185px;
    width: 135px;
}
.card-1 button{
    height: 30px;
    width: 120px;
}
/* Flower & Plants Lover */
.flower-plants{
    flex-direction: column;
        width: 100%;
        height: auto;
        margin: 20px auto;
        /* align-items: center; */
        /* text-align: center; */
}
.flower-plants-img-container{
     width: 100%;
        height: auto;
}
.flower-store-img{
    height: auto;
    width: 358px;
     max-width: 100%;
    display: block;
}
.trusted-badge-img{
    display: none;
}
.flower-plants-title{
    font-size: 24px;
    font-weight: 600;
}
.flower-plants-discription{
    font-size: 14px;
    font-weight: 400;
}
.latest-section{
    width: 100%;
        height: auto;
        margin: 20px auto;
}
.mini-img img{
    height: auto;
    width: 100%;
}
.big-img img{
    height: auto;
    width: 100%;
}
/* plant-section */
.plant-section{
     width: 100%;
        height: auto;
        margin: 20px auto;
        flex-direction: column;
}
}